*.pdf
*.yaml
*.yml
*.env

/.vscode
/out
**/__pycache__
src/config/templates/base_resume.yml

resume_theme/*
!resume_theme/package.json
!resume_theme/package-lock.json

!resume_theme/node_modules/
resume_theme/node_modules/*
!resume_theme/node_modules/jsonresume-theme-macchiato
!resume_theme/node_modules/jsonresume-theme-macchiato/**